<!-- FILE INPUT -->
<input
#fileInput
  type="file"
  class="form-control"
  (change)="onFileSelect($event)"
  
  (click)="onFileClick()"
  
/>


<!-- EXISTING / SELECTED FILE -->
<div class="form-text mt-1">

  <span *ngIf="fileName; else noFile">
      <i class="bi bi-file-earmark-text me-1"></i>
      <a href="javascript:void(0)" (click)="openFile($event)" class="text-primary text-decoration-underline">
        {{ fileName }}
      </a>
        <!-- Quick remove button -->
  <button type="button" class="btn btn-sm btn-link text-danger p-0 ms-1" title="Remove file" (click)="clearFile($event)">
    <i class="bi bi-x-circle"></i>
  </button>
    </span>

  <ng-template #noFile>
    <span class="text-muted">
      No file selected
    </span>
  </ng-template>



  
<!-- Validation Messages -->
<div
  class="invalid-feedback d-block"
  *ngIf="control.touched && control.errors"
>
  <div *ngIf="control.errors['fileTypes']">
    {{ control.errors['fileTypes'].message }}
  </div>

  <div *ngIf="control.errors['fileMaxSizeKB']">
    {{ control.errors['fileMaxSizeKB'].message }}
  </div>

  <div *ngIf="control.errors['suspiciousFile']">
    {{ control.errors['suspiciousFile'].message }}
  </div>

  <!-- <div *ngIf="control.errors['imageDimensions']">
    Page banner dimensions must be exactly
    {{ control.errors['imageDimensions'].requiredWidth }}
    x
    {{ control.errors['imageDimensions'].requiredHeight }}
    pixels.
  </div> -->
</div>
</div>