<div class="container-fluid p-3">
  <app-document-list
    title="Notice Board Categories"
    [isAdmin]="true"
    [data]="data"
    [columns]="tableColumns"
    [showCreateButton]="true"
    [currentPage]="pagination.current_page || 1"
    [lastPage]="pagination.last_page || 1"
    [pageSize]="pagination.per_page || 25"
    [totalItems]="pagination.total || 0"
    (pageSizeChange)="onPageSizeChange($event)"
    (pageChange)="loadCategories($event)"
    (searchChange)="searchCategories($event)"
    (sortChange)="sortCategories($event)"
    (createClick)="openCreateModal()"
    (actionClick)="handleAction($event)">
  </app-document-list>
</div>

<app-modal-form
  [title]="isEditMode ? 'UPDATE NOTICE BOARD CATEGORY' : 'CREATE NOTICE BOARD CATEGORY'"
  [schema]="categorySchema"
  size="lg"
  (submitForm)="onSubmit($event)"
  (modalClosed)="onModalClosed()">
</app-modal-form>
