.range_container {
  width: 80%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}

/* Track */
.track {
  position: relative;
  height: 6px;
  background: #d3d3d3;
  border-radius: 3px;
  margin: 20px 0;
  overflow: hidden;
}

/* Blue Selected Range */
.selected_range {
  position: absolute;
  height: 100%;
  background: var(--primary);
  border-radius: 3px;
}

/* Handles */
/* .handle {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background: #6f6f6f;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  box-sizing: border-box !important;
  box-shadow: 0 0 2px rgba(0,0,0,.4);
  transition: background 0.2s;
} */

/* Hover = blue like native slider */
.handle:hover {
  background: #0078ff;
}

.handle:active {
  box-shadow: 0 0 4px rgba(0,0,0,.6);
}

.number_inputs {
  display: flex;
  justify-content: space-between;
}

.number_inputs div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.handle {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 22px;
  aspect-ratio: 1 / 1;      /* guarantees perfect circle */
  background: #6f6f6f;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
  box-sizing: content-box;
  box-shadow: 0 0 2px rgba(0,0,0,.4);
  transition: background 0.2s;
}

.handle:hover {
  background: #5a5959;;
}
