<div class="p-3 mw-100">
  <div class="card shadow-sm border border-secondary-subtle rounded-2">
    
    <!-- Header -->
    <div class="card-header border-1 py-3 ps-3 bg-white d-flex justify-content-between align-items-center gap-4">
      <h1 class="fs-4 fw-bold text-uppercase pb-1 ps-0 pe-0 mb-0 border-bottom border-warning border-3 d-inline-block text-dark">
        APPLICATION FORM FOR PERMISSION TO EXTRACT GROUNDWATER
      </h1>
    </div>

    <!-- Stepper Body -->   
      <div class="application-stepper-container bg-white p-3 rounded-2 shadow-sm border">
        <app-multi-form-wizard
          [forms]="forms"
          [steps]="steps">
        </app-multi-form-wizard>
      </div>
   
    
  </div>
</div>
