<div class="container py-4 py-lg-3">
    <!-- KPI Cards -->
    <div class="row mb-3">
        <app-kpi-cards [kpiCards]="kpiCards"></app-kpi-cards>
    </div>

    <div class="row g-4">
        <!-- Ground Water -->
        <div class="col-12 col-lg-4 d-flex align-items-stretch">
            <app-grouped-bar-chart-component title="Monthly Reading Report"
                [series]="groundWaterSeries" [categories]="statusCategories">
            </app-grouped-bar-chart-component>
        </div>

        <!-- Officer-wise pendencies -->
        <div class="col-12 col-lg-4 d-flex align-items-stretch">
            <app-grouped-bar-chart-component title="Officer-wise Pendencies" [series]="officerPendenciesSeries"
                [categories]="officerPendenciesCategories">
            </app-grouped-bar-chart-component>
        </div>

        <!-- Applications by Area -->
        <div class="col-12 col-lg-4 d-flex align-items-stretch">
            <app-donut-chart-component title="Daily Reading Percentage Wise" [series]="areaSeries" [labels]="areaLabels">
            </app-donut-chart-component>
        </div>


    </div>
</div>