/* ======================================================
   FORM CONTAINER
   ====================================================== */

form {
  background: #fff;
  // border-radius: 7px;
  padding: 24px;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);
}

/* ======================================================
   LABELS
   ====================================================== */

.f_font_size {
  font-size: 0.85rem;
  font-weight: 600;
}
.wizard-form {
  min-height: 46vh; 
}