<div class="toast-container position-fixed top-0 end-0 p-3">

  <div *ngFor="let toast of toasts"
       class="toast show align-items-center border-0 mb-2 shadow"
       [ngClass]="getBootstrapClass(toast.type)">

    <div class="d-flex">

      <div class="toast-body d-flex align-items-center gap-2">

        
     <i class="bi fs-5 me-1" [ngClass]="getIconClass(toast.type)"></i>
        <span>
          {{ toast.message }}
        </span>

      </div>

      <div>
 
</div>

      <button type="button"
              class="btn-close btn-close me-2 m-auto"
              (click)="closeToast(toast.id)">
      </button>

    </div>

  </div>

</div>