<section class="about-section py-5 h-100 d-flex flex-column justify-content-center" aria-labelledby="about-heading">
  
  <h2 id="about-heading" class="fw-bold fs-4 text-uppercase mb-3 pb-2 border-bottom border-4 border-warning d-inline-block text-dark align-self-start">
    About
  </h2>
  

  <p class="text-secondary-emphasis mb-4 para-text" aria-label="Description about the Punjab Water Regulation and Development Authority">
    The Punjab Water Regulation and Development Authority (SDSO) constituted
    under the Punjab Water Resources Regulation and Management Act, 2020 is
    mandated to regulate the water resources of the state for ensuring its
    judicious, equitable and sustainable utilisation and management. The Authority
    aims to manage and regulate water usage in the state so as to achieve
    sustainable management of groundwater balanced with the requirements of
    the livelihoods of people of the state. The conservation of water is to be
    mandated for all users of...
  </p>

  <div>
    <a routerLink="/about" 
       class="btn btn-outline-primary px-4 py-2 text-black btn-text" 
       aria-label="Read more about the Punjab Water Regulation and Development Authority">
      Read More
    </a>
  </div>
  
</section>